@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustement global pour le body */
body {
  font-family: sans-serif;
  background-color: #ffffff;
}

/* Animation des boutons */
button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}
